<!-- Main Content -->
<!-- File Name: aboutme.ejs Student Name: Liu Chenqging   Student ID: 301250073  Date: Oct 6, 2022 -->
<main class="container">
    <div class="jumbotron">
      <p>My Legal name is Liu Chengqing. I was born in China, got Bachelor and Master Degree from Shanghai JiaoTong university and I worked in Singapore over 20 years.
         Now I am in Centennial College (Canada) as a student. </p>
         <p>For detailed information, please cilck below link to see <br>
          <a href="/Assets/chengqing-resume.pdf">my resume</a> in PDF format</p>
      <h5>The following is my photo:</h5> <br>
          <img src="/Assets/images/Photo_Chengqing.jpg" alt="my photo, Liu Chengqing" width="104" height="142">      
    </div>
  </main>