<!-- Main Content -->
/* File Name: contacts.ejs Student Name: Liu Chenqging   Student ID: 301250073  Date: Oct 6, 2022 */
<main class="container-fluid">
    <div class="jumbotron">
      <h5 class="display-7">My contact details are lised below and also welcome to put your contact details in the form then I will contact you.</h5>
      <div class="panel panel-default">
        <div class="panel-body">Telephone: 4169482542</div>
        <div class="panel-body">Email: john69888@gmail.com</div>
      </div>
      <br>
       
      <form>
        <div class="form-group">
          <label for="InputEmail1">Email address</label>
          <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="Name">Name</label>
          <input type="name" class="form-control" id="name1" placeholder="Name">
        </div>
        
        <div class="form-group">
          <label for="phone">Contact Number</label>
          <input type="phone" class="form-control" id="contactnumber" placeholder="Contact Number">
        </div>

        <div class="form-group">
          <label for="messages">Leave your messages</label>
          <input type="message" class="form-control" id="messages" placeholder="Your Messages">
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
      </form>





      
    </div>
  </main>