 <!-- Main Content -->
 <!-- File Name: homepage.ejs Student Name: Liu Chenqging   Student ID: 301250073  Date: Oct 6, 2022 -->
 <main class="container">
  <div class="jumbotron">
    <h4 class="display-7">Welcome to my (Liu Chengqing) portfolio <%= title %> page.</h4> 
    <p>Previously I was a software engineer in semiconductor industry. Later, I was a co-founder of an online hotel booking company.
    In the last few years, my interest was in artificial intelligence and I worked in HP enterprise Singapore. Currently, I was in Centennial College (Canada) Artificial Intelligence program as a student.
    Welcome interested people to discuss with me. Let's discuss opportunities.
    </p>
    <h5>Mission Statement:</h5> 
    <p>To be kind to others and myself. To inspire myself and others to achieve great things.
    </p>
    <h5>The following is the links to other pages:</h5> 
    <p><a href="/about">About Me</a><br>
       <a href="/projects">Projects</a><br>
       <a href="/services">Services</a><br>
       <a href="/contact">Contact Me</a></p>
  </div>
</main>