
<!-- File Name: projects.ejs Student Name: Liu Chenqging   Student ID: 301250073  Date: Oct 6, 2022 --> 
<main class="container">
    <div class="jumbotron">
      <h5 class="display-7">Three projects I did before are listed here.</h5>

     <h7>Project1: Online Hotel Booking</h7> <br>
         <img src="/Assets/images/hotelbooking.jpg" alt="hotel booking" width="104" height="142">   
     <p>Transplanet Pte Ltd was an online hotel booking company. I was one of the founders of this company, and I was in charge of digtal marketing, around year 2007, we could get around 20000 unique visitors per day, the conversion rate was around 2%, we could get about 400 bookings per day at that time! The outcome actually was very good as we were a small company. </p>

     <h7>Project2: SEO for Four Seasons Hotels Asia Pacific</h7> <br>
         <img src="/Assets/images/fourseasons.png" alt="seo for four seasons hotels" width="104" height="142">   
     <p>This is a project I did when I worked in Intrapormote. My role was a digital marketing specilist at that time. I completed keywwords research for 22 four seasons hotels in asia pacific area and I also optimized the website contents within two years. The outcome was very good, search traffic increased around 35%.  </p>

     <h7>Project3: SECS GEM software</h7> <br>
     <img src="/Assets/images/appliedmaterials.jpg" alt="appliedmaterials">   
     <p>When I worked in Applied Materials SEA, my main role was to do customer software support. I also developed a small SECS GEM software.
        It costed me around 9 months to build this software, it was very easy to use and the speed was very fast. Very soon the software replaced the 
        software Applied Materials bought from brooks. Although every copy (licence fee) just need 1000 USD, but applied materials had around 2000 field support engineers. Not only this software was used in asia pacific, it was used globally
        in the company. It saved millions of dollars for the company.

     </p>



    </div>
  </main>