<!-- Main Content -->
<!-- File Name: services.ejs Student Name: Liu Chenqging   Student ID: 301250073  Date: Oct 6, 2022 -->

<main class="container">
    <div class="jumbotron">
      <h4 class="display-7">The following services are provided:</h1>
      1. <i class="fa-sharp fa-solid fa-user"></i> Search Engine Optimization <br>
      2. <i class="fa-brands fa-font-awesome"></i> Digital marketing <br>
      3. <i class="fa-solid fa-user"></i> Web Development <br>
      4. <i class="fas fa-lg fa-laptop-house"></i> Java Programming
    </div>
  </main>